header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(47, 2, 56, 0.918)),
            url("assets/fonfo.jpg");
    background-repeat: no-repeat;
    background-position: center;
}