header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.87), rgba(35, 2, 43, 0.918)), url("assets/fonfo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

footer{    
    height: 150px;
    color: #ffffff;
    background-color: black;
}

#contacto{
    min-height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.87), rgba(35, 2, 43, 0.918)), url("assets/fondoContacto.jpg");
}

.letra-color {
    background: linear-gradient(to right, rgb(255, 1, 162),rgb(32, 140, 255)); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.icono-gigante{
    font-size: 7rem;
    padding: 5px 10px;
}   

.icon-contacto{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.959);
    margin: 4px 8px;
}

.icono-contacto{
    font-size: 5rem;
    color: rgba(255, 251, 251, 0.959);
    margin: 4px 8px;
}

.lead {
    color: antiquewhite;
}

.img-primPag{
    width: 100%;
}

.bg-body-secondary {
    background-color: rgb(255, 255, 255) !important;
}

.texto_contacto{
    color: rgb(253, 253, 253);
}


